html {
    background-color: #320cf3;
}

.input-group {
    display: flex;
    border-radius: 25px;
    width: -10px;
    }
    
    .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: darkblue;
    margin-top: 100px;
    padding: 60px;
    max-width: none;
    }
    
    .border {
    margin-bottom: 50px;
    }
    
    .paperclip {
    margin-left: 65px;
    margin-top: -37px;
    }

    .btn-outline-success {
        color: #080606;
        background-color: #fff;
        border-color: #00FFFF;
        padding: 10px;
      }